/* --------GLOBAL STYLES----------------------------------------------*/
body {
    margin: 0;
}

/* Page heading */
h1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    padding: 0px;
    margin: 5px;
}

/* Page subheading */
h2 {
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

p {
    display: inline-block;
    color: rgb(36, 36, 36);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1;
    /* text-align: center; */
}

button {
    border: 2px solid rgb(56,56,56);
    padding: 10px 15px;
    font-size: 14px;
}

button:focus {
    outline:none;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 10px;
}

/*----------------------GENERAL DOM ELEMENTS------------------------*/

/* Header div styling */
#header {
    background-color: #224A62;
    padding: 15px;
    margin: 0;
}

/* --------------SIDEBAR MENU--------------------------------*/

#sidebar {
    width: calc(30% - 2px);
    /* border: 1px solid rgb(161, 161, 161); */
    height: 100vh;
    float: left;
    overflow: scroll;
    background-color: #F5F7F9;
}

#sidebarMenu {
    background-color: #8CAABB;
    text-align: left;
    width: 100%;
}

/* styling for each sidebar menu option/button */
.menuOption {
    padding: 10px 10px;
    background-color: #8CAABB;
    border: none;
    height: 40px;
    font-size: 14px;
    transition: 0.3s;
    margin: 0px;
}

.active {
    background-color: #E5EBEF;
}

.menuOption:hover:not(.active) {
    cursor: pointer;
    background-color: #ADC2CE;
}


/* ------------------TEXT INPUT DIV--------------------*/
/* Some style formatting for text box [VERIFY] */
#inputDiv {
    display: none;
}

textarea {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 116px);
    box-sizing: border-box;
    border: 0px solid rgb(189, 189, 189);
    border-radius: 2px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: white;
    letter-spacing: 1.3px;
    line-height: 1.5;
}

/* Removes blue highlighting around text box*/
/*  Note - May create an accessibilty issue on different platforms*/
textarea:focus {
    outline:none;
}

/*---------------EXPORT DIV----------------------*/
#exportDiv {
    display: none;
}

/*----------------GUI EDITOR-----------------------*/
#guiDiv {
    display: block;
}

.gui-button {
    background-color: #F5F7F9;
    border: none;
    color: rgb(75, 75, 75);
    padding: 18px 22px;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.3em;
}

.gui-button:hover {
    background-color: #D8DEE1;
}

.gui-button-div:not(:last-child) {
    border-bottom: 1px solid #D8DEE1;
    width: 100%;
}

.gui-button-div p {
    font-size: 13px;
    text-align: center;
}

div.gui-button-div > input[type=text] {
    width: calc(100% - 60px);
    display: none;
    margin: 15px 20px;
}

div.gui-button-div > input[type=text]:focus {
    outline: none;
}

div.gui-button-div > select {
    width: 100%;
    border: none;
}

div.gui-button-div > select:focus {
    outline: none;
    
}

div.gui-button-div > select option {
    padding: 10px;
    font-size: 13px;
}

div.gui-button-div > select option:hover {
    cursor: pointer;
    background-color: #D8DEE1;
}

.gui-button-div-active {
    background-color: #D8DEE1;
}

.icon {
    height: 30px;
    width: auto;
    padding-right: 20px;
}
/* undo option styling */
.undo-options {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* margin: 10px; */
    line-height: 1.2em;
    overflow-wrap: break-word;
    /* overflow: scroll; */
    background-color: #F5F7F9;
    color: black;
}

.undo-options:hover {
    cursor: pointer;
}

.undo-options-active {
    /* background-color: #628AA1; */
    /* color: white; */
}

/*-----------------SVG STYLING--------------------------*/
#svgDiv {
    width: 70%;
    height: 100vh;
}

svg {
    position: absolute;
    width: 70%;
    height: 100vh;
    top: 77;
    right: 0;
}

/* prevent labels from intercepting mouse events (todo: disable being highlighted at all) */
svg text {
    pointer-events: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
svg text .agent {
    font-weight: 700;
}
