body {
    margin: 0;
}
/* Header div styling */
#header {
    background-color: #a3b1c7;
    padding: 15px;
    margin: 0;
}

/* Page heading */
h1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

/* Page subheading */
h2 {
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

p {
    display: inline-block;
    color: rgb(36, 36, 36);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

/* prevent labels from intercepting mouse events (todo: disable being highlighted at all) */
svg text {
    pointer-events: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
svg text .agent {
    font-weight: 700;
}

/* menu button styling */
.menuButton {
    border: 2px solid rgb(56,56,56);
}

.main-button {
    padding: 10px 15px;
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    display: block;

    background-color: rgb(219, 219, 219);
    border: none;
    height: 40px;
    font-size: 14px;
    transition: 0.3s;
    letter-spacing: 0.05em;
}

.main-buton:hover {
    cursor: hover;
    background: #aaaacc;
}
/* 
button:focus {
    outline:none;
} */

/*-------SIDEBAR MENU STYLING-------------*/

#sidebar {
    border-right: 1px solid rgb(189, 189, 189);
    width: 30%;
    height: calc(100vh - 77px);
}

#sidebarMenu {
    background-color: rgb(219, 219, 219);
    text-align: left;
    width: 100%;
}

.menuOption {
    padding: 10px 10px;
    background-color: rgb(219, 219, 219);
    border: none;
    height: 40px;
    font-size: 14px;
    transition: 0.3s;
    letter-spacing: 0.05em;
}

.active {
    background-color: rgb(158, 165, 179);
}

.menuOption:hover {
    cursor: pointer;
    background-color: rgb(158, 165, 179);
}

/* Container for textarea input */
#inputDiv {
    width: 100%;
    display: none;
}

#exportDiv {
    display: none;
}

/* Some style formatting for text box [VERIFY] */
textarea#inputBox {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 116px);
    box-sizing: border-box;
    border: 0px solid rgb(189, 189, 189);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: white;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

/* Removes blue highlighting around text box*/
/*  Note - May create an accessibilty issue on different platforms*/
textarea:focus {
    outline:none;
}

/* ------- SVG STYLING -------- */

#svgDiv {
    width: calc(70% - 2px);
    height: calc(100vh - 77px);
}

.column {
    float: left;
}

/* ----------- GUI DIV STYLING ------------ */
.gui-button {
    background-color: white;
    border: none;
    border-bottom: 1px solid #afb1b6;
    color: rgb(75, 75, 75);
    padding: 18px 22px;
    width: 100%;
}

.gui-button:hover {
    background-color: #eeeeee;
}


